.character {
    background-color: #beccf1;
    padding: 10px;
    text-align: center;
    margin: auto;
    max-width: 70%;
    margin-bottom: 100px;
}

.character h3 {
    font-size: 25px;
}

.character h4 {
    font-size: 18px;
}

/* Responsive design for desktop */
@media all and (min-width: 800px) {
    .character {
        max-width: 75%;
        padding-bottom: 20px;
    }

    .character h3 {
        font-size: 28px;
    }

    .character-info {
        text-align: left;
        padding-left: 100px;
    }

    .character h4 {
        font-size: 22px;
        text-align: left;
        padding-left: 100px;
    }
}