.character-form label{
    margin: 5px;
}

.character-form input {
    margin-top: 5px;
}

.character-form-buttons {
    margin: 10px;
    text-align: center;
}

.character-form div {
    margin: 10px;
}