.edit-character {
    background-color: #beccf1;
    display: block;
    margin: auto;
    width: 80%;
    padding: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: #060f13;
}

.edit-character h2 {
    margin-top: 0px;
    font-size: 35px;
}

.edit-character label {
    display: block;
}

/* Responsive design for desktop */
@media all and (min-width: 800px) {
    .edit-character {
        width: 500px;
        padding: 50px 100px;
        margin-top: 50px;
        text-align: left;
    }

    .edit-character h2 {
        text-align: center;
    }

    .edit-character label {
        display: inline-block;
        font-size: 20px;
    }

    .edit-character input, select {
        float: right;
    }
}