.project-page h2 {
    font-size: 30px;
    text-align: center;
}

.project-page ul {
    list-style: none;
    margin-right: 29px;
}

.project-page {
    margin-bottom: 20px;
}

.project-page-button{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

#add-character-button {
    display: block;
    margin: auto;
}

.add-character-link {
    text-decoration: none;
}