.add-project {
    background-color: #beccf1;
    display: block;
    margin: auto;
    width: 80%;
    padding: 10%;
    margin-top: 50px;
    text-align: center;
    color: #060f13;
    margin-bottom: 80px;
}

.add-project h2 {
    margin-top: 0px;
    font-size: 35px;
}

.add-project label {
    display: block;
}

/* Responsive design for desktop */
@media all and (min-width: 800px) {
    .add-project {
        width: 500px;
        padding: 50px 80px;
        margin-top: 50px;
        text-align: left;
        margin-bottom: 100px;
    }

    .add-project h2 {
        text-align: center;
    }

    .add-project label {
        display: inline-block;
        font-size: 20px;
    }

    .add-project input, select {
        float: right;
    }

    .add-project select {
        margin-top: 5px;
    }

    .add-project textarea {
        display: block;
        width: 100%;
        height: 100px;
    }
}