.edit-note {
    background-color: #beccf1;
    display: block;
    margin: auto;
    width: 80%;
    padding: 10%;
    margin-top: 50px;
    text-align: center;
    color: #060f13;
    margin-bottom: 80px;
}

.edit-note h2 {
    margin-top: 0px;
    font-size: 35px;
}

.edit-note label {
    display: block;
}

/* Responsive design for desktop */
@media all and (min-width: 800px) {
    .edit-note {
        width: 500px;
        padding: 50px 100px;
        margin-top: 50px;
        text-align: left;
        margin-bottom: 100px;
    }

    .edit-note h2 {
        text-align: center;
    }

    .edit-note label {
        display: inline-block;
        font-size: 20px;
    }

    .edit-note select {
        float: right;
        margin-top: 5px;
    }

    .edit-note textarea {
        display: block;
        width: 100%;
        height: 150px;
    }
}